<footer class="text-white bg-success text-center p-3" id="mainfooter">
    <div class="container-fluid">
        <p class="text-uppercase">Copyright &copy; MKB Enterprises LLC 2021.</p>  
    </div>
</footer>

    

<!--<footer>
    <div class="container-fluid text-center text-white fixed-bottom bg-danger" id="footer" >
        <div class="row">
            <div class="col">
                <p id="copyrights">Copyright &copy; MKB Enterprises LLC 2021.</p>  
            </div>
        </div>
    </div>
        
    
    
    <div class="text-center text-white bg-success p-3" id="mainfooter">
      <p id="copyrights">Copyright &copy; MKB Enterprises LLC 2021.</p>  
    </div>

</footer> -->