<div class="jumbotron my-1 p-1 bg-dark text-white bg-gradient">
  <div class="container text-center">
    <h1>{{content.title}}</h1> 
    <p>{{content.body}}</p> 
  </div>
</div>

<!--<div class="container-fluid text-center">
    <div class="mt-2 mb-2 p-2 bg-dark text-white rounded">
      <h1>{{content.title}}</h1> 
      <p>{{content.body}}</p> 
    </div>
</div>
<div class="mt-1 p-1 bg-dark text-white">
  <div class="container text-center">
    <h3 class="animated rubberBand" id="jumbotron">Welcome to our coffee shop</h3>
  </div>
</div>-->