{% extends "base.html" %}
{% block body %}
    {% include 'partials/jumbotron.html' %}
    <div class="container-fluid my-2 border border-2 border border-dark" id="Contact_Pic">
      <!--Insert image-->
      <p class="text-uppercase mask text-success d-flex justify-content-end my-5 mx-5 display-3 text-bold"><i class="bi bi-telephone-inbound-fill mx-3"></i> Contact number : + 49157312345</p>
      <p class="text-uppercase mask text-success d-flex justify-content-end my-5 mx-5 display-3"><i class="bi bi-mailbox2 mx-3"></i>PLZ: 00100, Hamburg</p>
      <a class="text-uppercase mask text-success d-flex justify-content-end my-5 mx-5 display-3" href="mailto:customerservice@wbb.com"><i class="bi bi-envelope-fill mx-3"></i>Email us here</a>
      <div class="icons mt-5">
        <div class="row">
          <div class="col">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.snapchat.com" target="_blank"><i class="fab fa-snapchat"></i></a>  
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>  
    </div>
{% endblock body %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}