{% extends "base.html" %}
{% block body %}
{% include 'partials/jumbotron.html' %}
        <div class="container-fluid m-0 p-0">
            <div class="row">
                <div class="col" id="bgImage">
                    <!--Insert image-->
                </div>
            </div>
        </div>
        <hr class="border border-1 border-dark">
        <div class="container-fluid ms-1">
            <div class="row">
                <div class="col-md-7 m-0 p-0" id="homePageContent">
                    <h2 class="fw-bolder">We open Monday to Saturday from 11am-8pm</h2>
                    <p>
                    Thanks to our skilled baristas, you are guaranteed the perfect cup of coffee.
                    There's a wide selection of hot beverages and fresh quick to go meals.<br>
                    <br>
                    Kenyan coffee is 100% organically grown. Every year we taste many different highland coffees and keep in touch with our coffee farmers. 
                    We buy the coffee personally on site, roast it in our own roasting plant and send the coffee to your home
                    </p>
                </div>
                <div class="col-md-5 m-0 p-0">
                    <img src="https://res.cloudinary.com/dxxysm630/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1639066621/time_kfls1v.jpg" alt="coffee_display" class="img-fluid rounded border border-dark border border-1">
                </div>
            </div>
        </div>
        <hr class="border border-1 border-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 border border-1 border-secondary p-4 mb-3 text-center bg-dark bg-gradient text-danger">
                    <h4 class="fw-bold"><i class="bi bi-wifi"></i> Free & Fast Wifi service</h4>
                </div>
                <div class="col-md-4 border border-1 border-secondary p-4 mb-3 text-center bg-dark bg-gradient text-warning">
                    <h4 class="fw-bold"><i class="bi bi-battery-charging"></i> Plenty of power outlets</h4>
                </div>
                <div class="col-md-4 border border-1 border-secondary p-4 mb-3 text-center bg-dark bg-gradient text-success">
                    <h4 class="fw-bold"><i class="bi bi-peace-fill"></i> Keep calm & drink coffee 😀</h4>
                </div>
            </div>
        </div>
{% endblock body %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}