{% extends "base.html" %}
{% block body %}
    {% include 'partials/jumbotron.html' %}
    <!--Cards-->
    <div class="row row-cols-1 row-cols-md-3 g-3 mb-3">
        <div class="col">
          <div class="card text-center border border-success border border-1 bg-dark text-white">
            <img src="https://res.cloudinary.com/dxxysm630/image/upload/v1636997129/Barista_hhkviw.jpg" class="card-img-top" alt="Barista">
            <div class="card-body">
              <h5 class="card-title"><strong>Amanda Adams - Barista</strong></h5>
              <p class="card-text"> The coolest coffee maker you'll ever find. She knows how to wow you with a cup of fresh coffee.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center border border-success border border-1 bg-dark text-white">
            <img src="https://res.cloudinary.com/dxxysm630/image/upload/v1642613769/Chef_nr0xtw.jpg" class="card-img-top" alt="Chef">
            <div class="card-body">
              <h5 class="card-title"><strong>Ashley Cage - Chef</strong></h5>
              <p class="card-text">She knows exactly what you want and the value for your money spent in our Cafe.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center border border-success border border-1 bg-dark text-white">
            <img src="https://res.cloudinary.com/dxxysm630/image/upload/v1636997128/Musician_h4cjr4.jpg" class="card-img-top" alt="Musician">
            <div class="card-body">
              <h5 class="card-title"><strong>John Smith - Musician</strong></h5>
              <p class="card-text">He creates the best mood in the eCommerce Website Template Cafe and makes you happy.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col p-0">
            <img src="https://res.cloudinary.com/dxxysm630/image/upload/v1637084097/staff_maoys2.jpg" class="img-fluid" alt="cafe_staff" style="width: auto;">  
          </div>
          <div class="col p-0">
            <img src="https://res.cloudinary.com/dxxysm630/image/upload/v1637084097/staff2_zg2f1a.jpg" class="img-fluid" alt="cafe_staff" style="width: auto;">
          </div>
          <div class="col p-0">
            <img src="https://res.cloudinary.com/dxxysm630/image/upload/v1637084097/staff3_qaiwvr.jpg" class="img-fluid" alt="cafe_staff" style="width: auto;">  
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col p-0">
            <img src="https://res.cloudinary.com/dxxysm630/image/upload/v1637084097/staff4_t9gu8q.jpg" class="img-fluid" alt="cafe_staff" style="width: auto;">  
          </div>
          <div class="col p-0">
            <img src="https://res.cloudinary.com/dxxysm630/image/upload/v1637084097/staff5jpg_xbtxez.jpg" class="img-fluid" alt="cafe_staff" style="width: auto;">
          </div>
          <div class="col p-0">
            <img src="https://res.cloudinary.com/dxxysm630/image/upload/v1637084097/staff6_z1wteg.jpg" class="img-fluid" alt="cafe_staff" style="width: auto;">  
          </div>
        </div>
      </div>
{% endblock body %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}